.categoryPage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.active {
    background-color: lightgray;
    color: black;
}

.buttonBlock {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}