.moviesCard {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: stretch;
    padding: 10px;
    width: 200px;
}

.buttonLike {
    background-color: inherit;
    border: none;
    padding: 10px;
}